<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Email template | EMS</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/emailtemplate.css">
</head>
<body>
    <div class="navigation">
        <span class="logo"><a href="/company-details"><img th:src="@{/assets/logo.svg}" alt="EMS logo" />EMS</a></span>
        <nav>
            <ul class="nav-links">
                <li class="nav-link"><a href="/company-details">Company Details</a></li>
                <li class="nav-link"><a href="/subscriber-list">Subscriber List</a></li>
                <li class="nav-link"><a href="/email-template">Email Template</a></li>
                <li class="nav-link"><a href="/campaigns">Campaign</a></li>
                <li class="nav-link logout__link"><a href="/authentication/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
    <div class="templates">
        <div class="header">
            <h1 class="main-title">Email Template</h1>
            <a href="/create-email-template" class="button">Create Template</a>
        </div>
        <div th:each="template: ${emailTemplates} " class="card">
            <div>
                <span class="card__title" th:text="${template.templateName}"/>
            </div>
            <div>
                <span class="card__label">Subject: </span><span class="card__subtitle" th:text="${template.templateSubject}"/>
            </div>
            <div>
               <span class="card__description" th:text="${template.templateDescription}"/>
            </div>
            <div class="card__links">
                <a class="btn__secondary" target="_blank" th:href="${template.landingPageLink}">Explore Now</a>
                <div class="action-links">
                    <form method="get" th:action="@{/update-email-template/{id}(id=${template.templateId})}">
                        <button type="submit" class="link" th:attr="data-template-id=${template.templateId}"><img class="icon" th:src="@{/assets/icon-edit.svg} " /></button>
                    </form>
                    <button class="link link--delete" th:attr="data-template-id=${template.templateId}"><img class="icon icon--delete" th:src="@{/assets/icon-delete.svg}" /></button>
                </div>
            </div>
        </div>
    </div>

    <script>
        const deleteButtonList = document.querySelectorAll(".link--delete");
        deleteButtonList.forEach(deleteButtonEl => {
            deleteButtonEl.addEventListener("click", (e) => {
                const templateId = e.target.dataset.templateId;

                fetch(`/api/email-template/${templateId}`, {
                    method: "delete"
                })
                .then((res) => res.json())
                .then(data => location.reload())
            })
        })
    </script>
</body>
</html>